body{
	font-family: 'Open sans',sans-serif;
	background-color: black;
	background-image: url("background.jpg");
}
#container{
	width: 1630px;
	height: 800px;
	margin: 0 auto;
	
}
#calculator{
	width: 440px;
	height: 700px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 45px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 0 8px 17px rgb(41, 57, 72), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#result{
	height: 150px;
}
#keyboard{
	height: 450px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 40px;
	margin: 10 20px;
	padding-top: 5px;
	font-size: 30px;
}
.operator, .number, .empty{
	height: 70px;
	width: 70px;
	margin: 20px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 10px;
}
.operator:focus, .number:focus, .empty:focus{
	outline:0;
}
button:nth-child(4){
	font-size: 17px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 17px;
	background-color: #20b2aa;
}
button:nth-child(12){
	font-size: 17px;
	background-color: #20b2aa;
}
button:nth-child(16){
	font-size: 17px;
	background-color: #20b2aa;
}
button:nth-child(20){
	font-size: 17px;
	background-color: #20b2aa;
}